.red{
    color: red;
}

.continue-shopping a {
    color: rgb(81, 10, 139);
    text-decoration: none;
  }
  .continue-shopping a:hover{
    color: rgb(203, 37, 236);
  }
  .img-link{
    width: 60%;
    margin: auto;
  }