
.signin-form{
    padding-top: 50px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    height: 100vh;
}


.align {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  max-width: 20rem;
  width: 90%;
}

a {
  color: rgb(38, 93, 212);
  outline: 0;
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: underline;
}

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
input[type="submit"] {
  cursor: pointer;
}
.form {
  margin: -14px;
  margin: -0.875rem;
}
.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
  width: 100%;
}
.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px;
  margin: 0.875rem;
}
.form__input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.login {
  color: #eee;
}

.login>p{
  color: #065bc4;
  padding-bottom: 10px;
  font-weight: bolder;
  font-size: 1.9em;
}
.field_username,.field_password{
  border-radius: 0.25rem;
  padding: 16px;
  padding: 1rem;
}
.login label {
  background-color: #363b41;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
}
.login Field[type="password"],
.login Field[type="text"] {
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.login input[type="password"]:focus,
.login input[type="password"]:hover,
.login input[type="text"]:focus,
.login input[type="text"]:hover {
  background-color: #434a52;
}
.login input[type="submit"] {
  background-color: #ea4c88;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
}
.login input[type="submit"]:focus,
.login input[type="submit"]:hover {
  background-color: #d44179;
}
p {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
}
.text--center {
  text-align: center;
}

.error{
  color: red;
  width: 100vw !important;
}